.bg-lila {
  background-color: #8155ad;
}
body {
  background-color: #f6e3f8;
}

.cliploader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemonPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 2rem;
}

.poke-card {
  width: 12rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-card:hover {
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0.1))
}

.pokeId {
  font-weight: 900;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.pokeTitle {
  font-weight: 900;
  height: 4rem;
  font-family: "Press Start 2P", cursive;
}

.poke-type {
  padding-bottom: 1rem;
}

.pokecont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1rem;
}

.pokemonOne {
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.pokemonOne:hover {
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.pokeDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.pokeIntro {
  width: 40%;
}

.pokeDescription {
  width: 100%;
}

.pokemonFightPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.fightingPokemon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding: 2rem 2rem;
}

.fightingPokeCard {
  min-width: 14rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.winnerCard {
  width: 55%;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  padding-top: 0.5rem;
}

.winnerName {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, blueviolet, darkblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
