.pokemonPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 2rem;
}

.poke-card {
    width: 17%;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-card:hover {
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);
}

.pokeId {
    font-weight: 900;
    font-family: "Press Start 2P", cursive;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
  }
  
.pokeTitle {
    font-weight: 900;
    height: 4rem;
    font-family: "Press Start 2P", cursive;
}

.poke-type {
    padding-bottom: 1rem;
}

.pokemonOne {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.pokemonOne:hover {
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);
}

.pokeDetail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.pokeIntro {
    width: 40%;
}

.pokeDescription {
    width: 100%;
}

.pokemonFightPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
    margin-top: 1rem;
}

.fightingPokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 2rem 2rem;
}

.fightingPokeCard {
    width: 15rem;
    height: 25rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.winnerCard {
    width: 55%;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
}